<ion-header>
  <ion-toolbar class="main-header">
    <ion-title slot="start">Cadastro</ion-title>
    <ion-buttons slot="end">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="primary-color" class="main-body">
  <form (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Email<ion-text color="danger">*</ion-text></ion-label>
      <ion-input [(ngModel)]="novoUsuario.email" name="email" type="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Nome<ion-text color="danger">*</ion-text></ion-label>
      <ion-input [(ngModel)]="novoUsuario.name" name="name" type="text" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Senha <ion-text color="danger">*</ion-text></ion-label>
      <ion-input [(ngModel)]="novoUsuario.password" name="password" type="password" minlength="6" maxlength="16"></ion-input>
    </ion-item>
    
    <ion-button block color="fa" slot="secundary" type="submit">
      Registrar
    </ion-button>
  </form>


</ion-content>
