<ion-header>
  <ion-toolbar>
    <ion-title>Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Email<ion-text color="danger">*</ion-text></ion-label>
      <ion-input [(ngModel)]="novoUsuario.email" name="email" type="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Nome<ion-text color="danger">*</ion-text></ion-label>
      <ion-input [(ngModel)]="novoUsuario.name" name="name" type="text" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Senha <ion-text color="danger">*</ion-text></ion-label>
      <ion-input [(ngModel)]="novoUsuario.password" name="password" type="password" minlength="6" maxlength="16"></ion-input>
    </ion-item>
    
    <ion-button block color="primary" type="submit">
      Registrar
    </ion-button>
  </form>


</ion-content>
