<ion-header>
  <ion-toolbar class="main-header">
    <ion-title slot="start">Extrato da Viagem</ion-title>
    <ion-buttons slot="end">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="primary-color" class="main-body">

  <ion-card class="dark-border">
    <ion-card-header class="grupos-card__header">
      <ion-card-subtitle class="grupos-card__sub">Extrato do grupo</ion-card-subtitle>
      <ion-card-title class="grupos-card__title white-border--header">{{ tripName }}</ion-card-title>
    </ion-card-header>

    <ion-card *ngFor="let item of activitySpends">
        <ion-card-header color='fb' class="grupos-card__title white-border ion-text-wrap">
          {{item.name}}
        </ion-card-header>
      <ion-item *ngFor="let payment of item.paymentToReceive">
        <ion-label class="ion-text-wrap">
          O usuario {{payment.userPayer.name}} está devendo {{payment.totalValue}}
        </ion-label>
      </ion-item>
      <ion-item *ngFor="let payment of item.paymentOwing">
        <ion-label>
          <h3>Voce deve a {{payment.userReceiver.name}} o valor {{payment.totalValue}}
          </h3>
        </ion-label>
      </ion-item>
    </ion-card>
  </ion-card>




  <ion-item class="suport-item--primary">
    <ion-label>
      <h2>Total gasto por voce na viagem: {{userTripTotalSpend}}</h2>
    </ion-label>
  </ion-item>

  <ion-item class="suport-item--secundary">
    <ion-label>
      <h2>Total gasto pelo grupo na viagem: {{tripTotalValue}}</h2>
    </ion-label>
  </ion-item>


</ion-content>