<ion-header>
  <ion-toolbar class="main-header">
    <ion-title>Grupos</ion-title>
    <ion-buttons slot="end" (click)="logout()">
      <ion-icon slot="icon-only" ios="ios-log-out" md="md-log-out"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="primary-color" class="main-body">
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="presentAlert();" color="fd">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-card class="grupos-card">
    <ion-list>
      <ion-item>
        <ion-label class="grupos-card__header">Meus grupos</ion-label>
        <ion-select placeholder="Selecionar" okText="OK" cancelText="Cancelar" [(ngModel)]="group"
          name="selecionarGrupo" (ionChange)="showGroupDetails(group.id)">
          <ion-select-option *ngFor="let group of groups" [value]="group"> {{ group.name }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <!-- <ion-text [className]="grupos.length ? 'active' : 'inactive'">Nenhum participante encontrado, adicione novos abaixo</ion-text> -->
    </ion-list>

    <ion-card *ngFor="let participant of participants" class="grupos-card__users">
      <ion-item>
        <ion-avatar slot="start">
          <img src="https://cdn.icon-icons.com/icons2/1736/PNG/512/4043232-avatar-batman-comics-hero_113278.png">
        </ion-avatar>

        <ion-label>{{ participant.name }}

          <ion-chip class="ion-float-right" (click)="gastoAdd(participant,group)">
            <ion-icon name="cash" color="fb"></ion-icon>
            <ion-icon name="add" color="fb"></ion-icon>
          </ion-chip>

        </ion-label>

      </ion-item>
    </ion-card>
  </ion-card>

    <ion-button color='fd' fill="outline" size='small' (click)="goToExtract(group.id)" class="ion-text-center ion-margin">
      <ion-icon slot="start" ios="ios-arrow-dropright" md="md-arrow-dropright"></ion-icon>
      ver extrato
      <ion-icon slot="end" ios="ios-stats" md="md-stats"></ion-icon>
    </ion-button>


  <ion-card class="bottom-m65">
    <ion-toolbar>
      <ion-searchbar type="text" [(ngModel)]="searchterm" (ionChange)="search($event)"
        placeholder="Buscar usuário por e-mail"></ion-searchbar>

      <ion-item *ngFor="let filteredUser of allUsers | async" class="user-list">
        <ion-avatar>
          <img src="https://cdn.icon-icons.com/icons2/1736/PNG/512/4043232-avatar-batman-comics-hero_113278.png">
        </ion-avatar>
        <ion-label>
          <h3 class="result-name">{{filteredUser.name}}</h3>
          <p class="result-email">{{filteredUser.email}}</p>
        </ion-label>
        <ion-button color="fb" shape="round" fill="outline" size="small" slot="end"
          (click)="addUserInGroup(group.id, filteredUser.id);">+</ion-button>
      </ion-item>

    </ion-toolbar>
  </ion-card>






</ion-content>