<ion-header>
  <ion-toolbar>
    <ion-title>Grupos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="presentAlert();">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-card>
    <ion-list>
      <ion-list-header>Selecione o grupo de viagem ou cadastre um novo grupo</ion-list-header>
      <ion-item>
        <ion-label>Meus grupos</ion-label>
        <ion-select placeholder="Ver grupos" okText="OK" cancelText="Cancelar" [(ngModel)]="grupoSelecionado"
          name="selecionarGrupo" (ionChange)="exibirDetalhes()">
          <ion-select-option *ngFor="let grupo of (grupos | async)" [value]="grupo"> {{ grupo.nome }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <!-- <ion-text [className]="grupos.length ? 'active' : 'inactive'">Nenhum participante encontrado, adicione novos abaixo</ion-text> -->
    </ion-list>

    <ion-card *ngFor="let participante of participantes">
      <ion-item>
        <ion-avatar slot="start">
          <img src="https://cdn.icon-icons.com/icons2/1736/PNG/512/4043232-avatar-batman-comics-hero_113278.png">
        </ion-avatar>

        <ion-label>{{ participante.name }}

          <ion-chip class="ion-float-right" (click)="gastoAdd(participante)">
            <ion-icon name="cash" color="primary"></ion-icon>
            <ion-icon name="add"></ion-icon>
          </ion-chip>

        </ion-label>

      </ion-item>
    </ion-card>
  </ion-card>

  <ion-card>
    <ion-toolbar>
      <ion-searchbar type="text" [(ngModel)]="searchterm" (ionChange)="search($event)"></ion-searchbar>
      <ion-list>
        <ion-item *ngFor="let result of resultados">
          {{ result.name }}
          <ion-button shape="round" fill="outline" size="small" slot="end"
            (click)="cadastrarEmGrupo(grupoSelecionado, result);">+</ion-button>
        </ion-item>
      </ion-list>
    </ion-toolbar>
  </ion-card>
  <!-- 
    [Para fazer] excluir usuario em grupo.
    [Se der tempo] definir adm e convidado em grupo. 
  -->

</ion-content>