// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;


  /** My Colors **/
  --ion-color-mc1: #000000;
  --ion-color-mc2: #003e3e;
  --ion-color-mc3: #007c7c;
  --ion-color-mc4: #00baba;
  --ion-color-mc5: #00f8f8;

  --ion-color-fa: #003e3e;
  --ion-color-fa-rgb: 0, 62, 62;
  --ion-color-fa-contrast: #ffffff;
  --ion-color-fa-contrast-rgb: 255, 255, 255;
  --ion-color-fa-shade: #003737;
  --ion-color-fa-tint: #1a5151;

  --ion-color-fb: #007c7c;
  --ion-color-fb-rgb: 0, 124, 124;
  --ion-color-fb-contrast: #ffffff;
  --ion-color-fb-contrast-rgb: 255, 255, 255;
  --ion-color-fb-shade: #006d6d;
  --ion-color-fb-tint: #1a8989;

  --ion-color-fc: #00baba;
  --ion-color-fc-rgb: 0, 186, 186;
  --ion-color-fc-contrast: #000000;
  --ion-color-fc-contrast-rgb: 0, 0, 0;
  --ion-color-fc-shade: #00a4a4;
  --ion-color-fc-tint: #1ac1c1;

  --ion-color-fd: #00f8f8;
  --ion-color-fd-rgb: 0, 248, 248;
  --ion-color-fd-contrast: #000000;
  --ion-color-fd-contrast-rgb: 0, 0, 0;
  --ion-color-fd-shade: #00dada;
  --ion-color-fd-tint: #1af9f9;

}

.ion-color-fa {
  --ion-color-base: var(--ion-color-fa);
  --ion-color-base-rgb: var(--ion-color-fa-rgb);
  --ion-color-contrast: var(--ion-color-fa-contrast);
  --ion-color-contrast-rgb: var(--ion-color-fa-contrast-rgb);
  --ion-color-shade: var(--ion-color-fa-shade);
  --ion-color-tint: var(--ion-color-fa-tint);
}

.ion-color-fb {
  --ion-color-base: var(--ion-color-fb);
  --ion-color-base-rgb: var(--ion-color-fb-rgb);
  --ion-color-contrast: var(--ion-color-fb-contrast);
  --ion-color-contrast-rgb: var(--ion-color-fb-contrast-rgb);
  --ion-color-shade: var(--ion-color-fb-shade);
  --ion-color-tint: var(--ion-color-fb-tint);
}

.ion-color-fc {
  --ion-color-base: var(--ion-color-fc);
  --ion-color-base-rgb: var(--ion-color-fc-rgb);
  --ion-color-contrast: var(--ion-color-fc-contrast);
  --ion-color-contrast-rgb: var(--ion-color-fc-contrast-rgb);
  --ion-color-shade: var(--ion-color-fc-shade);
  --ion-color-tint: var(--ion-color-fc-tint);
}

.ion-color-fd {
  --ion-color-base: var(--ion-color-fd);
  --ion-color-base-rgb: var(--ion-color-fd-rgb);
  --ion-color-contrast: var(--ion-color-fd-contrast);
  --ion-color-contrast-rgb: var(--ion-color-fd-contrast-rgb);
  --ion-color-shade: var(--ion-color-fd-shade);
  --ion-color-tint: var(--ion-color-fd-tint);
}

@font-face {
  font-family: 'roboto';
  src: url("../assets/fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: 'caviar';
  src: url("../assets/fonts/CaviarDreams_Bold.ttf");
}
