<ion-header>
  <ion-toolbar class="main-header">
    <ion-buttons slot="end">
      <ion-button (click)="fechar()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Cadastrar gasto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="main-body">
  <ion-card>

    <ion-card-header color="fc">
      <ion-card-subtitle>Grupo</ion-card-subtitle>
      <ion-card-title>{{groupName}}</ion-card-title>
    </ion-card-header>

    <ion-item>
      <ion-label>
        <p>Pagante</p>
        <h2>{{userReceived.login}}</h2>
      </ion-label>
      <ion-avatar slot="end">
        <img src="https://cdn.icon-icons.com/icons2/1736/PNG/512/4043232-avatar-batman-comics-hero_113278.png">
      </ion-avatar>
    </ion-item>

    <ion-item>
      <ion-label position="floating" >
        <ion-icon name="wallet"></ion-icon> R$
      </ion-label>
      <ion-input id="declaredCost" inputmode="decimal" type="number" step="0.1" min="0" (ionChange)="shareCost($event)" [(ngModel)]="sharedValue"></ion-input>
    </ion-item>


    <ion-list>
      <ion-list-header>
        <ion-label>PARTICIPANTES</ion-label>
      </ion-list-header>
      <ion-item *ngFor="let user of groupReceived; let i = index">
        <ion-label>
          <h2>{{user.login}}</h2>
          <p [hidden]="!participantsArray[i]">A pagar: R${{mediumCost}}</p>
        </ion-label>
        <ion-checkbox slot="start" class="ion-color ion-color-primary md" checked (ionChange)="shareParticipants($event)" value={{i}} name={{i}}></ion-checkbox>
        <ion-avatar slot="end">
          <img src="https://cdn.icon-icons.com/icons2/1736/PNG/512/4043232-avatar-batman-comics-hero_113278.png">
        </ion-avatar>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-button shape="round" color="fd" class="ion-float-right">
    <ion-icon slot="icon-only" name="checkmark"></ion-icon>
  </ion-button>

</ion-content>